.p-out{
    padding-right: 0px !important;
  }

.order-1, .order-2, .order-3{
    all: initial;
}

.abajo-margen{
    margin-bottom: 100px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .ajust-size{
        left: 0;
        right: 0;
        margin: auto;
    }

    .order-1{
      order: unset;
    }
    .order-2{
      order: 1;
    }
    .order-3{
      order: 1;
    }
    
}

.settings-button{
  margin-top: 25px;
  width: 20px;
}

.error-message-geo{
  position: absolute;
  right: 0;
  left: 0;
  text-align: center;
  margin-top: 150px;

  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;

  color: #000;
}