.custom-file input[type="file"] {
    opacity: 0;
}

#texto-file{
    position: absolute;
    top: 13px;
    left: 10px;
}

#btn-conti{
    border: 0;
    background-color: #5591F5;
}

#photo-perfil{
    /* margin-right: 13px; */
    margin-right: 8px;
    margin-top: 8px;
    width: 30px;
    height: 30px;
}

#texto-hifive{
    color: #5591F5;
    text-align: center;
}

.circule-file{
    border-radius: 100px;
    object-fit: cover;
}

.error-message{
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: red;
    margin-left: 10px;
    margin-top: 5px;
}